<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--     <link rel="stylesheet" href="css/main.css"> -->
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/main.css') }}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    
    <title>Stock-Profile</title>
</head>
    <div class="navbar">
        <span><i class="fas fa-search-dollar"></i> Stock-Profile </span>
    </div>

    <div id="container">
        <div class="section">
            <div class="section_1">
                <p>Welcome To Stock-Profile</p>
                Think growth.
            </div>
        </div>
        <div class="section">
            <div class="section_2">
                <p>
                    Portfolio Management
                </p>
                
                See your overall positions and Profit/Loss clearly and beautifully.  
            
            </div>
        </div>
        <div class="section">
            <div class="section_3">
                <p>
                    Watch Lists
                </p>
                <ul style="list-style: none;">    
                    <li>Keep track of your favourite stocks with multiple watch lists.</li> 
                    <li>Comprehensive Information </li>
                    <li>Live monitoring and more. Sign up today</li>
                </ul>
            </div>
        </div>
        <div class="section">
        <div class="section_4">
        <p>
        <a href="get_input.html" >	CLICK HERE TO VISIT SITE</a>
        </p>
        </div>
        </div>

    </div>
    <footer>
        <i class="fab fa-twitter" style="font-size:40px;padding: 10px;"></i>
        <i class="fab fa-facebook" style="font-size:40px;padding: 10px;"></i>
    </footer>

</body>
</html>
